<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gulp Sass/Scss Compiler </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/style.min.css" rel="stylesheet">
    <link href="../css/css.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


</head>
<body>
<header>
    <div class="leftMenu">
        <div class="hamburger active">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="leftMenuList">
            <li class="left-menu-items">
                <i class="icon-home" aria-hidden="true"></i>
                <div class="box">
                    <a href="#" class="dropdown">
                        <span>Гл.Страница</span><i class="icon-down-open"></i>
                    </a>
                    <ul class="dropdownlist">
                        <li>
                            <a href="#">
                                <span>USERROLES</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>USERSANDSESSIONS</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>FUNCTIONDEFINISIONS</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>GENERALSETUP</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="left-menu-items">
                <i class="icon-list-numbered" aria-hidden="true"></i>
                <div class="box">
                    <a href="#" class="dropdown">
                        <span>Спаравочники</span><i class="icon-down-open"></i>
                    </a>
                    <ul class="dropdownlist">
                        <li>
                            <a href="clients.html">
                                <span>Клиенты</span>
                            </a>
                        </li>
                        <li>
                            <a href="elements.html">
                                <span>Элементы</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>FUNCTIONDEFINISIONS</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>GENERALSETUP</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="left-menu-items">
                <i class="icon-doc-text" aria-hidden="true"></i>
                <div class="box">
                    <a href="#" class="dropdown">
                        <span>Рээстры</span><i class="icon-down-open"></i>
                    </a>
                    <ul class="dropdownlist">
                        <li>
                            <a href="#">
                                <span>USERROLES</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>USERSANDSESSIONS</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>FUNCTIONDEFINISIONS</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>GENERALSETUP</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="left-menu-items">
                <i class="icon-cog-alt" aria-hidden="true"></i>
                <div class="box">
                    <a href="#" class="dropdown">
                        <span>Утилиты</span><i class="icon-down-open"></i>
                    </a>
                    <ul class="dropdownlist">
                        <li>
                            <a href="#">
                                <span>USERROLES</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>USERSANDSESSIONS</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>FUNCTIONDEFINISIONS</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>GENERALSETUP</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="left-menu-items">
                <i class="icon-check" aria-hidden="true"></i>
                <div class="box">
                    <a href="#" class="dropdown">
                        <span>Результаты</span><i class="icon-down-open"></i>
                    </a>
                    <ul class="dropdownlist">
                        <li>
                            <a href="#">
                                <span>USERROLES</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>USERSANDSESSIONS</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>FUNCTIONDEFINISIONS</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>GENERALSETUP</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="left-menu-items">
                <i class="icon-envelope-open-o" aria-hidden="true"></i>
                <div class="box">
                    <a href="#" class="dropdown">
                        <span>Сообщения</span><i class="icon-down-open"></i>
                    </a>
                    <ul class="dropdownlist">
                        <li>
                            <a href="#">
                                <span>USERROLES</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>USERSANDSESSIONS</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>FUNCTIONDEFINISIONS</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>GENERALSETUP</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="left-menu-items">
                <i class="icon-file-archive" aria-hidden="true"></i>
                <div class="box">
                    <a href="#" class="dropdown">
                        <span>Архив</span><i class="icon-down-open"></i>
                    </a>
                    <ul class="dropdownlist">
                        <li>
                            <a href="#">
                                <span>USERROLES</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>USERSANDSESSIONS</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>FUNCTIONDEFINISIONS</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>GENERALSETUP</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <div class="container head">
        <h3 class="user-name"><a href="">User Name</a></h3>
        <h4 class="logout"><a href="">Logout</a></h4>
    </div>

</header>
<main style="position: relative">
    <ul class="options">
        <li><a href="">+</a></li>
        <li><a href="">-</a></li>
        <li><a href=""><i class="icon-up-open"></i></a></li>
        <li><a href=""><i class="icon-check"></i></a></li>
        <li><a href="">x</a></li>
    </ul>
    <section id="main" style="background-image: url(/images/wp3157508-laboratory-wallpaper.jpg)">
        <div class="container clients client">
            <div class="image">
                <img src="" alt="">
            </div>
            <div class="about-client">
                <ul>
                    <li><h2>Код:</h2><span>678</span></li>
                    <li><h2>Название:</h2><span>General</span></li>
                    <li><h2>Описание:</h2><span>lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</span></li>
                </ul>

        </div>
    </section>
</main>
<footer>
    <div class="footer">
        <div class="container">
            <ul class="footer-ul">
                <li><a href="">О нас</a></li>
                <li><a href="">Наши филиалы</a></li>
                <li><a href="">Справка</a></li>
                <li><a href="">Страница жалоб и предложений</a></li>
                <li style="margin-top: 15px"><a href="tel:+380985554433">+380985554433</a></li>
                <li><a href="">lims@mail.ru</a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <span>© Web-студия " Kadyrbek ", 2019</span>
    </div>
</footer>
<script>

    document.querySelector(".hamburger").onclick = function () {
        var element = document.querySelector(".leftMenu");
        element.classList.toggle("openMenu");

        var hamburger = document.querySelector(".hamburger");
        hamburger.classList.toggle("open");

    }

    var dropdown = document.getElementsByClassName('dropdown');
    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].onclick = function () {
            this.classList.toggle('active');
        }

    }


</script>

</body>
</html>